@model IEnumerable<EcommerceApp.Models.Product>

@{
    var Title = "Latest Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in Online</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop Latest Products</p>
        </div>
    </div>
</header>

<!-- All Products -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3 small-container">
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group" id="searchWrapper">
                            <input type="text" class="form-control"
                                   name="searchBar"
                                   id="search"
                                   placeholder="Search for...">
                    </div>
                </div>
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-lg-6">
                            <button type="button" class="mybtn btn btn-primary filter-btn" data-filter="all">
                                All
                            </button>
                            <button type="button" class="mybtn btn btn-success filter-btn" data-filter="websites">
                                Websites
                            </button>
                            <button type="button" class="mybtn btn btn-success filter-btn" data-filter="fullstack">
                                fullstack
                            </button>
                            <button type="button" class="mybtn btn btn-success filter-btn" data-filter="email">
                                email-developer
                            </button>
                            <button type="button" class="mybtn btn btn-success filter-btn" data-filter="frontdeveloper">
                                front-developer
                            </button>
                            <button type="button" class="mybtn btn btn-success btn-rounded filter-btn" data-filter="backdeveloper">
                                back-developer
                            </button>
                            <button type="button" class="mybtn btn btn-success btn-rounded filter-btn" data-filter="ui">
                                ui-developer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 store-products-container">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-4 store-products @product.Category.Name.ToLower()">
                        <div id="store-products">
                            <div class="core-features">
                                <div class="circle">
                                    @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                                    {
                                        <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                                    }
                                    else
                                    {
                                        <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                                    }
                                </div>
                                <div class="product-details mb-3">
                                    <p class="card-title h5 text-primary">@product.Title</p>
                                    <p class="card-title text-info">by <b>@product.Author</b></p>
                                    <p>List Price: <strike><b class="">$@product.ListPrice.ToString("0.00")</b></strike></p>
                                    <p style="color:maroon">As low as: <b class="">$@product.Price100.ToString("0.00")</b></p>
                                    <span class="mb-2">$@product.ListPrice.ToString("0.00")</span>
                                    <hr />
                                    <a asp-action="Details" class="btn btn-primary formc" asp-route-productId="@product.Id">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/productlist.js"></script>
}